nav {
    height: 60px;
    width: 100vw;
    color: white;
    // margin-bottom: 10px;
    // background-color: #121212;
    background-color: #494146;
    padding: 0px 160px;
    .login {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }
    span {
        margin-right: 30px;
        cursor: pointer;
        font-size: rem(20px);
    }
    a {
        margin-right: 15px;
        cursor: pointer;
    }
    a:link {
        text-decoration: inherit;
        color: inherit;
        cursor: pointer;
    }
    a:visited {
        text-decoration: inherit;
        color: inherit;
        cursor: pointer;
    }
}