.movie-details {
    padding: 80px 300px;
    width: 100vw;
    min-height: 90vh;
    background-color: #1b1920;
    color: white;
    .title {
        font-size: rem(24px);
        margin-bottom: 15px;
    }
    .content {
        display: grid;
        grid-template-columns: 380px 200px 640px;
        column-gap: 20px;
        row-gap: 20px;
        .img-cont {
            width: 380px;
            margin-right: 20px;
            img {
                width: 100%;
                border: 1px solid #ffd564;
            }
        }
        .details {
            width: 150px;
            font-size: rem(19px);
            display: grid;
            align-items: center;
            grid-template-columns: 50px 100px;
            grid-template-rows: 40px 40px 40px;
        }
        .order-tickets {
            background-color: #e62739;
            color: white;
            height: 54px;
            width: 150px;
            grid-column: 3;
            outline: none;
            border: none;
            transition: background-color 300ms linear;
            &:hover {
                background-color: #0d0d15;
            }
        }
    }
}