.theater-cont {
    width: 100vw;
    height: 100vh;
    background-image: url("../..~@/assets/img/cinema.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .theater_items {
        background-color: rgba(128, 128, 128, 0.34);
        margin: 0 auto;
        max-width: 750px;
        min-height: 800px;
        .theater_map {
            padding: 20px 0;
            display: grid;
            justify-content: space-around;
            gap: 5px;
        }
        .legend {
            width: 500px;
            margin-left: 25px;
            li {
                display: flex;
                color: white;
                margin-right: 1em;
                span {
                    margin-left: 1em;
                }
            }
        }
    }
}